body {
    background: -webkit-image-set(https://img.elo7.com.br/product/zoom/2CFDBBE/fundo-fotografico-em-tecido-asa-2-20x1-50-3d-tecido.jpg)
}

h1 {
    texte-align: center
}

p {
    text-align: center;
}

strong {
    color: #ff0000;

}